<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
	<script src="js/jquery.backstretch.min.js"></script>
	<script>
		$.backstretch("pildid/black-and-white-warehouse_hele.jpg"); /* allikas: http://www.publicdomainpictures.net/ */
	</script>
	</body>
</html>