  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
	<?php if(isset($_SESSION['user'])): ?>
      <br><br>
      <h1 class="header center orange-text">Varakamber</h1>
      <div class="row center">
        <h5 class="header col s12 light">Vaata kõiki asju varakambris või lisa uusi</h5>
      </div>
      <div class="row center">
        <a href="?page=vaata" class="btn-large waves-effect waves-light orange">Vaata</a>
		<a href="?page=lisa" class="btn-large waves-effect waves-light orange">Lisa</a>
      </div>
    <?php else: ?>
	  <h1 class="header center orange-text">Sisenemine</h1>
      <div class="row center">
        <h5 class="header col s12 light">Logi sisse või registreeru</h5>
      </div>
      <div class="row center">
        <a href="?page=login" class="btn-large waves-effect waves-light orange">Logi sisse</a>
		<a href="?page=register" class="btn-large waves-effect waves-light orange">Registreeru</a>
      </div>
	  <br><br>
	<?php endif; ?>
    </div>
  </div>
