<div>
                <h2>Lisa ese</h2>

                <form action="index.php?page=lisatud" method="post">
                    <div>
                        <label for="ese">Eseme nimetus</label>
                        <div>
                            <input id="ese" name="eseme_nimi" placeholder="Eseme nimetus" type="text"  maxlength="100">
                        </div>
                    </div>

                    <div>
                        <label for="liik">Eseme liik</label>
                        <div>
							<select name="eseme_liik">
								<option value="Ehitustööriist">Ehitustööriist</option>
								<option value="Aiatööriist">Aiatööriist</option>
								<option value="Mänguasi">Mänguasi</option>
								<option value="Tehnika">Tehnika</option>
							</select>

                        </div>
                    </div>

                    <div>
                        <label for="asukoht">Asukoht</label>
                        <div>
                            <select name="asukoht">
								<option value="Korter">Korter</option>
								<option value="Kelder">Kelder</option>
								<option value="Kuur">Kuur</option>
								<option value="Garaaž">Garaaž</option>
								<option value="Pööning">Pööning</option>
							</select>
                        </div>
                    </div>


                    <div>
                        <label for="notes"></label>
                        <div>
                            <?php if(isset($_SESSION['errors'])): ?>
                            <div role="alert">
                                <div style="margin-left: 2em">
                                    <p>
                                        <?php foreach($_SESSION['errors'] as $error=>$message):
                                        echo '<p>'.$message.'</p>';
                                        endforeach; ?>
                                    </p>
                                </div>
                            </div>
                            <?php unset($_SESSION['errors']); ?>
                          <?php endif; ?>
                        </div>
                    </div>

                            <button type="submit">Lisa</button>
    
                </form>
</div>