<form action="index.php?page=loginsuccess" method="post">
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Logi sisse</h1>
      <div class="row center">
        <h5 class="header col s12 light">
			<label for="inputEmail">E-posti aadress</label> <input autofocus="" id="inputEmail" name="login_email" placeholder="E-posti aadress" required=""  maxlength="150" type="email">
		</h5>
      </div>
	  <div class="row center">
        <h5 class="header col s12 light">
			<label for="inputPassword">Salasõna</label> <input id="inputPassword" name="login_password" placeholder="Salasõna" required=""  maxlength="150" type="password">
		</h5>
      </div>
      <div class="row center">
        <button class="waves-effect waves-light btn-large orange" type="submit" name="action">Sisene
			<i class="material-icons right">send</i>
		 </button>
      </div>
    </div>
</div>
</form>
<br/>
<?php if(isset($_SESSION['errors'])): ?>
<div role="alert">
    <div style="margin-left: 1em">
        <p>
            <?php foreach($_SESSION['errors'] as $error=>$message):
            echo '<p>'.$message.'</p>';
            endforeach; ?>
        </p>
    </div>
</div>
<?php unset($_SESSION['errors']); ?>
<?php endif; ?>