<form action="index.php?page=registersuccess" method="post">
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Registreeru</h1>
      <div class="row center">
        <h5 class="header col s12 light">
			<label>Nimi</label> <input autofocus="" name="name" placeholder="Nimi" required="" type="text">
		</h5>
      </div>
	  <div class="row center">
        <h5 class="header col s12 light">
			<label>E-posti aadress</label> <input name="email" placeholder="E-posti aadress" required=""  maxlength="150" type="email">
		</h5>
      </div>
	  <div class="row center">
        <h5 class="header col s12 light">
			<label>Salasõna</label> <input name="password1" placeholder="Salasõna" required=""  maxlength="150" type="password">
		</h5>
      </div>
	  <div class="row center">
        <h5 class="header col s12 light">
			<label>Salasõna uuesti</label> <input name="password2" placeholder="Salasõna uuesti" required=""  maxlength="150" type="password">
		</h5>
      </div>
      <div class="row center">
        <button class="waves-effect waves-light btn-large orange" type="submit" name="action">Registreeru</button>
      </div>
    </div>
</div>
</form>
<div>
	<div>
		<?php if(isset($_SESSION['errors'])): ?>
		<div class= "row center red lighten-4">
			<?php foreach($_SESSION['errors'] as $error=>$message):
                         echo '<p class="center">'.$message.'</p>';
                         endforeach; ?>
		</div>
		<?php unset($_SESSION['errors']); ?>
		<?php endif; ?>
	</div>				
</div>